.main{
height: 55vh;
}
.height {
     height: 10vh
 }
 
 .search {
     position: relative;
     box-shadow: 0 0 40px rgba(51, 51, 51, .1)
 }
 
 .search input {
     height: 60px;
     text-indent: 25px;
     border: 2px solid #d6d4d4
 }
 
 .search input:focus {
     box-shadow: none;
     border: 2px solid rgb(190, 117, 117)
 }
 
 .search .fa-search {
     position: absolute;
     top: 20px;
     left: 16px
 }
 
 .search button {
     position: absolute;
     top: 5px;
     right: 5px;
     height: 50px;
     width: 110px;
     background: rgb(0, 0, 0)
 }
.cursor:hover{
    cursor: pointer;
}
.ta{
    width: 100px;
    height: 58px;
    background: rgb(0, 0, 0)
}
.col{
    color: #ff9900;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
      
  }
  /* setting the text-align property to center*/
   td {
    padding: 5px;
    text-align:center;
          
  }