.head{
border-bottom: 1px solid #ffff;
text-align: center;
}
.client{
    width: fit-content;
    background-color: #198754;
    float: left;
}
.contain{
    display: flex;
    justify-content: space-between;
}
table{float: right;}